.favorite-foods{
  display: flex;
  align-items: center;
 justify-content: space-between;
 background-color: white;
 margin-left: 20px;
margin-right: 20px;
}
.food{
  border: 1px solid gray;
  margin-right: 20px;
  border-radius: 5px;
}
.head{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}
 .food h3{
  text-align: center;
  color: gray;
margin-bottom: 12px;
}
 .food img{
  width: 200px;
  margin-top: 12px;
  margin-left: 20px;
  margin-bottom: 12px;
 height: 150px;
 margin-right: 20px;

}